*{
    margin: 0;
    padding: 0;
}
body{
    position: absolute;
    top: 40%;
    left: 50%;
    background-color: wheat;
}
.loader {
    width: 80px;
    height: 80px;
    border: 2px solid black;
    border-right: none;
    border-bottom: none;
    border-radius: 70%;
    animation: spin 0.5s infinite;
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
        border-color: red;
    }
    100%{
        transform: rotate(360deg) ;
        border-color: yellow;
    }
}